<header class="header">
  <img class="header__logo" src="./assets/images/logo.png" alt="Spotify logo" />
  <nav>
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" href="#">Premium</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Ayuda</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Descargar</a>
      </li>
      <li class="menu__item menu__item--signup">
        <a class="menu__link" href="#">Registrarse</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Iniciar sesión</a>
      </li>
    </ul>
  </nav>
</header>
