.container {
  border: 2px solid black;
}
.item {
  border: 2px solid blue;
  box-sizing: border-box;
}
.container {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item {
  width: 200px;
  height: 100px;
}
