/* reset */
* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* main */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #cc212a;
}

.title {
  font-weight: bold;
  text-align: center;
}

.title-inner {
  display: block;
}

/* footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #cc212a;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #cc212a;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  transform: translate(0, -50%);
}

.copy {
  position: relative;
  top: -20px;
  /*podemos usar: transform translate, margen negativo y posición relativa */
}

@media all and (min-width: 768px) {
  .footer {
    padding: 20px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    transform: translate(0, 0);
  }

  .copy {
    top: 0;
    /* otra opción de solución sería poner position: static; */
  }
}
