body {
  margin: 0;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 60vh 20vh;
  grid-gap: 5px;
}

.item {
  background: deeppink;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  grid-column: span 12;
  text-transform: uppercase;
  background-color: pink;
}

.item2 {
  grid-column: span 4;
  text-transform: uppercase;
  background-color: purple;
}

.item3 {
  grid-column: span 8;
  text-transform: uppercase;
  background-color: brown;
}

.item4 {
  grid-column: span 12;
  text-transform: uppercase;
  background-color: darkcyan;
}
